---
http_interactions:
- request:
    method: get
    uri: http://api.opensignal.com/v2/networkstats.json?apikey=<OPENSIGNAL_API_KEY>&distance=22&json_format=2&lat=52.629729&lng=-1.131592
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Brenvarnishlog:
      - api-and-translate-dot
    body:
      encoding: UTF-8
      string: '{"apiVersion":"2","latitude":"52.629729","longitude":"-1.131592","distance":10,"network_type":null,"perMinuteCurrent":0,"perMinuteLimit":10,"perMonthCurrent":14,"perMonthLimit":2000,"networkRank":[{"networkName":"3","networkId":"23420","type3G":{"networkName":"3","networkId":"23420","networkType":"3","averageRssiAsu":"12.401539","averageRssiDb":"-88.196922","sampleSizeRSSI":"716380","downloadSpeed":"4716.1176","uploadSpeed":"1692.0784","pingTime":"125.4301","reliability":"93.8346047156748"},"type4G":{"networkName":"3","networkId":"23420","networkType":"4","averageRsrpAsu":"37.170758","averageRsrpDb":"-102.829242","sampleSizeRSRP":"254653","downloadSpeed":"8373.0645","uploadSpeed":"5258.5862","pingTime":"70.8095","reliability":"94.6404220779227"}},{"networkName":"EE","networkId":"23430","type4G":{"networkName":"EE","networkId":"23430","networkType":"4","averageRsrpAsu":"42.140034","averageRsrpDb":"-97.859966","sampleSizeRSRP":"663883","downloadSpeed":"18258.6429","uploadSpeed":"9515.2727","pingTime":"81.6154","reliability":"98.5347985348"},"type3G":{"networkName":"EE","networkId":"23430","networkType":"3","averageRssiAsu":"12.608466","averageRssiDb":"-87.783069","sampleSizeRSSI":"139051","downloadSpeed":"2975.6786","uploadSpeed":"1053.1200","pingTime":"236.6909","reliability":"91.3139274518621"},"type2G":{"networkName":"EE","networkId":"23430","networkType":"2","averageRssiAsu":"10.366076","averageRssiDb":"-92.267849","sampleSizeRSSI":"30006"}},{"networkName":"O2","networkId":"23410","type3G":{"networkName":"O2","networkId":"23410","networkType":"3","averageRssiAsu":"12.257382","averageRssiDb":"-88.485235","sampleSizeRSSI":"279417","downloadSpeed":"2796.6786","uploadSpeed":"1290.5641","pingTime":"144.7807","reliability":"89.9971139971184"},"type4G":{"networkName":"O2","networkId":"23410","networ[...]
