---
http_interactions:
- request:
    method: get
    uri: http://api.opensignal.com/v2/networkstats.json?apikey=<OPENSIGNAL_API_KEY>&distance=22&json_format=2&lat=50000&lng=-1.131592
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Brenvarnishlog:
      - api-and-translate-dot
    body:
      encoding: UTF-8
      string: '{"status":"400","message":"Latitude must be in the range -90 to 90,
        longitude must be in the range -180 to 180","more_info":"http:\/\/developers.opensignal.com"}'
  recorded_at: Mon, 29 Jun 2015 17:33:17 GMT
recorded_with: VCR 2.9.3
