---
http_interactions:
- request:
    method: get
    uri: http://api.opensignal.com/v2/networkstats.json?apikey=<OPENSIGNAL_API_KEY>&distance=22&json_format=2&lat=51.223078&lng=-3.8358
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Brenvarnishlog:
      - api-and-translate-dot
    body:
      encoding: UTF-8
      string: '{"apiVersion":"2","latitude":"51.223078","longitude":"-3.8358","distance":10,"network_type":null,"perMinuteCurrent":0,"perMinuteLimit":10,"perMonthCurrent":41,"perMonthLimit":2000}'
  recorded_at: Wed, 09 Dec 2015 18:56:34 GMT
recorded_with: VCR 3.0.0
