---
http_interactions:
- request:
    method: get
    uri: http://api.opensignal.com/v2/networkstats.json?apikey=<OPENSIGNAL_API_KEY>&distance=22&json_format=2&lat=52.629729&lng=-1.131592&network_type=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Brenvarnishlog:
      - api-and-translate-dot
    body:
      encoding: UTF-8
      string: '{"apiVersion":"2","latitude":"52.629729","longitude":"-1.131592","distance":10,"network_type":"5","perMinuteCurrent":0,"perMinuteLimit":10,"perMonthCurrent":16,"perMonthLimit":2000,"networkRank":"No
        results for this area"}'
  recorded_at: Mon, 29 Jun 2015 17:13:48 GMT
recorded_with: VCR 2.9.3
